.textField {
    border:1px solid black;
    border-radius: 2px;
    height: 32px;
    width: 250px;
    opacity: 60%;
    margin-left: 40%;
    margin-bottom:5%;
    margin-top: 2%;
}

.buttonField {
    border: 1px solid black;
    border-radius: 3px;
    height:35px;
    width:130px;
    background-color: #87A96B;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}

.imgtag{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
}

.error{
    color: Red;
    font-weight: bold;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 0%;
}
